@font-face {
    -fx-font-family:"kenvector future";
    src: url('../resources/kenvector_future.ttf');
}

@font-face {
    -fx-font-family: "Anja Eliane accent";
    src: url('../resources/Anja.ttf');
}

@font-face {
    -fx-font-family: "orange juice";
    src: url('../resources/OrangeJuice.ttf');
}

.gameTitle {
	-fx-font-family: "orange juice";
}


.text-area .text-field {
	-fx-font-family: "kenvector future";
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
}

.text-area:centered .text {
    -fx-text-alignment: center ;
}



#undo_arrow{
   -fx-background: transparent;
   -fx-background-image: url('../resources/undo.png');
   -fx-background-size: 55px;
    -fx-background-repeat: no-repeat;
}
#redo_arrow{
   -fx-background: transparent;
   -fx-background-image: url('../resources/redo.png');
   -fx-background-size: 55px;
    -fx-background-repeat: no-repeat;
}
#edit_button{
   -fx-background: transparent;
   -fx-background-image: url('../resources/edit.png');
   -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}
#erase_button{
   -fx-background: transparent;
   -fx-background-image: url('../resources/erase.png');
   -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}
#help_button{
   -fx-background: transparent;
   -fx-background-image: url('../resources/help.png');
   -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}


#undo_arrow:pressed{
	-fx-background-color: transparent; 
	-fx-background-image: url('../resources/undoClicked.png');
	-fx-translate-y : +4;
}
#redo_arrow:pressed{
	-fx-background-color: transparent; 
	-fx-background-image: url('../resources/redoClicked.png');
	-fx-translate-y : +4;
}
#edit_button:pressed{
	-fx-background-color: transparent; 
	-fx-background-image: url('../resources/editClicked.png');
	-fx-translate-y : +4;
}
#erase_button:pressed{
	-fx-background-color: transparent; 
	-fx-background-image: url('../resources/eraseClicked.png');
	-fx-translate-y : +4;
}
#help_button:pressed{
	-fx-background-color: transparent; 
	-fx-background-image: url('../resources/helpClicked.png');
	-fx-translate-y : +4;
}


#undo_arrow,redo_arrow,edit_button,erase_button,help_button:released{
	-fx-translate-y : -4;
}

.digitButton{
	
	 -fx-font-family: "Anja Eliane accent";
	 -fx-font-size:16px;
	 -fx-background-radius: 5em; 
	 -fx-background-color:#fa8132;
	 -fx-min-width: 35px;
     -fx-min-height: 35px;
     -fx-max-width: 35px;
     -fx-max-height: 35px;
}

.paramButton{
	 -fx-background-radius: 5em; 
	 -fx-background-color: transparent;
	 -fx-min-width: 35px;
     -fx-min-height: 35px;
     -fx-max-width: 35px;
     -fx-max-height: 35px;
}

.paramLabel{
	
	 -fx-font-family: "Anja Eliane accent";
	 -fx-font-size:12px;
}

.digitButton:hover, .digitButton:focus {
  -fx-background-color: #d06828;
}

.digitButton:pressed{
  -fx-background-color: #FFDF00;
}

.digitButton:released{
  -fx-translate-y : -4;
}

#homeButton{
	-fx-background-image: url('../resources/home1.png');
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#homeButton:pressed{
	-fx-background-image: url('../resources/home1Clicked.png');
	-fx-translate-y : +4;
}



#settingsButton{
	-fx-background-image: url('../resources/settings.png');
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#settingsButton:pressed{
	-fx-background-image: url('../resources/settingsClicked.png');
	-fx-translate-y : +4;
}

.SettingsPane{
	-fx-background-image: url('../resources/red_panel.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 400px;
	-fx-background-position: center center;
  
    /*-fx-effect: dropshadow( gaussian , white, 127, 127, 0, 0); */
}

.closeButton{
	-fx-background-image: url('../resources/red_button.png');
	-fx-background-color:transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-font-family: "kenvector future";
}

.closeButton:pressed{
	-fx-background-image: url('../resources/yellow_button.png');
	-fx-translate-y : +4;
}

.closeButton:released{
	-fx-translate-y : -4;
}

.dialogFlow{
	-fx-background-color:#FFFFFF;
}

.wrongValueTitle{
	-fx-text-fill: red;
	-fx-font-family: "Anja Eliane accent";
	-fx-font-size: 20px;
	
}

.ProgressTitle{
	-fx-text-fill: blue;
	-fx-font-family: "Anja Eliane accent";
	-fx-font-size: 20px;
}

.wrongValueMessage, .heuristiqueName{
	-fx-text-fill: blue;
	-fx-font-family: "Anja Eliane accent";
	-fx-font-size: 10px;
	
}

.fullySolved{
	-fx-font-family: "Anja Eliane accent";
	-fx-font-size: 20px;
}

.wrongPane{
	
}

#solve_button{
	-fx-background-image: url('../resources/solve2.png');
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#solve_button:pressed{
	-fx-background-image: url('../resources/solve2Clicked.png');
	-fx-translate-y : +4;
}

#checkProgress_Button{
	-fx-background-image: url('../resources/check2.png');
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#checkProgress_Button:pressed{
	-fx-background-image: url('../resources/check2Clicked.png');
	-fx-translate-y : +4;
}

#saveFileButton{
	-fx-background-image: url('../resources/saveFile.png');
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#saveFileButton:pressed{
	-fx-background-image: url('../resources/saveFileClicked.png');
	-fx-translate-y : +4;
}

#newGameButton{
	-fx-background-image: url('../resources/newGame1.png');
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#newGameButton:pressed{
	-fx-background-image: url('../resources/newGameClicked.png');
	-fx-translate-y : +4;
}

#resetButton{
	-fx-background-image: url('../resources/reset.png');
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
}

#resetButton:pressed{
	-fx-background-image: url('../resources/resetClicked.png');
	-fx-translate-y : +4;
}

#return_button{
	
	-fx-background-image: url('../resources/return.png');
	-fx-background-color: transparent;
	-fx-background-size: 40px;
	-fx-background-repeat: no-repeat;
}

#return_button:pressed{
	-fx-background-image: url('../resources/returnClicked.png');
	-fx-translate-y : +4;
}

#difficulty_button{
	-fx-background-image: url('../resources/difficulty.png');
	-fx-background-color: transparent;
	-fx-background-size: 40px;
	-fx-background-repeat: no-repeat;
}

#difficulty_button:pressed{
	-fx-background-image: url('../resources/difficultyClicked.png');
	-fx-translate-y : +4;
}

#import_button{
	-fx-background-image: url('../resources/import.png');
	-fx-background-color: transparent;
	-fx-background-size: 40px;
	-fx-background-repeat: no-repeat;
}

#import_button:pressed{
	-fx-background-image: url('../resources/importClicked.png');
	-fx-translate-y : +4;
}

#return2{
	-fx-background-image: url('../resources/return.png');
	-fx-background-color: transparent;
	-fx-background-size: 40px;
	-fx-background-repeat: no-repeat;
}

#return2:pressed{
	-fx-background-image: url('../resources/returnClicked.png');
	-fx-translate-y : +4;
}
/* 
#puzzle_title1,#puzzle_title2,#error_msg{
	-fx-font-family: "kenvector future";
}
*/